[package]
name = "urldecoder"
version = "1.4.0"
edition = "2024"
authors = ["lxl66566 <lxl66566@gmail.com>"]
description = "A fast, feature-rich, file-oriented batch URL decoder written in Rust."
homepage = "https://github.com/lxl66566/urldecoder"
repository = "https://github.com/lxl66566/urldecoder"
documentation = "https://github.com/lxl66566/urldecoder"
license = "MIT"
keywords = ["url", "decode", "batch"]
readme = "README.md"
categories = ["filesystem"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.32", features = ["derive"] }
colored = "3.0.0"
glob = "0.3.2"
regex = "1.11.1"
tokio = { version = "1.44.0", features = ["fs", "macros", "rt-multi-thread"] }
urlencoding = "2.1.3"
die-exit = { version = "0.5.0", features = ["red"] }

[dev-dependencies]
temp_testdir = "0.2.3"

[profile.release]
strip = true
lto = true
panic = "abort"
opt-level = "z"
